
<h2> <%= @state.state %> </h2>
<h3> <%=@state.stations.count %> Charging Stations</h3> <!--This does not work...relationship may not be correct.  Update- you are correct.  See the e.state = state line Robin added in seeds.rb file.-->

<div id="home"> <%= link_to "Home", root_path %> </div>



<div id="map"></div>
