/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3, #home {
  font-family: Helvetica;
  text-align: center;
}

/*.axis {
  margin-top: 50px.
}*/

.axis text {
  font-size: 12px;
  font-family: sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropbtn-year {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    float: left;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 197px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.state-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 11px;
  border: none;
  cursor: pointer;
  float: left;
  margin: .1em .8em .3em .3em;
}

.description {
  text-align: center;
  font: 1em helvetica;
  padding-bottom: 1em;
}
#bars {
  margin: 0 auto;
}

#usmap {
  margin: 0 auto;
}

 #map {
  height: 500px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
 }

 #buttons {
  margin-top: 2em;
  margin-bottom: 2em;
 }
